name: Documentation

on:
  workflow_run:
    workflows: [ "Release" ]
    types:
      - completed

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Build Javadoc with Maven
        run: mvn -B -pl core javadoc:javadoc -DskipTests -Dgpg.skip=true

      - name: Prepare Javadoc for MkDocs
        run: |
          mkdir documentation/docs/javadoc
          rsync -av core/target/reports/apidocs documentation/docs/javadoc/

      - uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install MkDocs
        run: |
          pip install mkdocs
          pip install mkdocs-material

      - name: Build Documentation
        working-directory: ./documentation
        run: mkdocs build --strict

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: documentation/site

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4