name: Publish on Maven Central

on:
  workflow_run:
    workflows: [ "Release" ]
    types:
      - completed

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Maven Central Repository
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: central
          server-username: ${{ secrets.CENTRAL_TOKEN_USERNAME }}
          server-password: ${{ secrets.CENTRAL_TOKEN_PASSWORD }}
          gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}

      - name: Get release version
        run: |
          REF="${{ github.event.workflow_run.head_branch }}"
          VERSION="${REF#v}"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Set release version
        run: mvn versions:set -DnewVersion=${{ env.VERSION }}

      - name: Publish package
        run: mvn -pl core -am --batch-mode deploy -DskipTests
        env:
          MAVEN_USERNAME: ${{ secrets.CENTRAL_TOKEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.CENTRAL_TOKEN_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_SIGNING_KEY_PASSWORD }}
