name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
        contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Unit Test
        run: mvn -pl core clean test -Dgpg.skip=true

      - name: Build JAR-File
        run: mvn -pl core package -DskipTests -Dgpg.skip=true

      - name: Generate Sources JAR
        run: mvn -pl core source:jar -DskipTests -Dgpg.skip=true

      - name: Get release version
        run: |
          VERSION="${GITHUB_REF#refs/tags/v}"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Upload Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          draft: false
          prerelease: false
          title: "Release ${{ env.VERSION }}"
          files: |
            LICENSE
            core/target/*.jar
